#mainNav {
    width: 100%;
    padding: 0.6rem 3rem;
    background: rgba(49, 111, 233, 0.72);
    box-shadow: 0 4px 2px 0 #c0bdbd;
}

#navTitle {
    font-size: 1.5rem;
}

ul li {
    font-family: "Montserrat", -apple-system, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 1.25rem !important;
}


