#rooms-main {
  width: 40%;
  margin: 2vh auto;

  .table-wrap {
    height: 500px;
    overflow: auto;
  }

  table {
    outline: 1px solid black;
    width: 100%;

    td {
      padding: 5px;
    }

    td:first-child, th:first-child {
      padding-left: 30px;
      padding-right:0;
    }

    th:last-child {
      padding-left: 0;
      padding-right: 30px;
    }

    td:last-child {
      padding-right: 22px;
    }
  }
}

@media screen and (max-width: 1100px) {
  #rooms-main {
    width: 100%;
  }
}

h1 {
  width: 100%;
  text-align: center;
  color: #8e44ad;
}


.room-wrap {
  width: 100%;
  background-color: rgba(70, 118, 198, 0.12);
  padding: 10px;

  border-radius: 10px;
}

.no-rooms {
  margin-top: 50px;
  padding-left: 10px;

  text-align: center;
  color: grey;
  font-style: italic;
}

