body {
    overflow: hidden;
}

#main {
    margin-top: 80px;
}

#chat-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 25px;
    padding: 0 20px;
}

.center input {
    width: 350px;
}