// message types: 'join' | 'own' | 'other'

.message-container {
    flex-grow: 2;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;

    font-family: 'Lato',sans-serif;
    padding: 0 5px;
    //border: 5px solid yellow;

    .welcome-chat-text {
        width: 100%;
        color: grey;
        text-align: center;
        margin: 1rem 0;
        font-size: 16pt;
    }
}

.messages-wrap::-webkit-scrollbar {
    display: none;
}

.chat-message-wrap {
    box-sizing: border-box;

    //min-width: 1em;
    border-radius: 16px;

    padding: 6px 16px 9px;
    margin-bottom: 0.3em;

    max-width: 70%;
    font-size: 12pt;
    line-height: 1.2;
    word-break: break-word;
}

@media (max-width: 600px) {
    .chat-message-wrap {
        word-break: break-word;
        width: auto;
        font-size: 12px;
        min-width: 20vw;
        max-width: initial;
    }
}

.other {
    background-color: #e5e5ea;
    color: black;
    align-self: start;
}

.owner {
    background-color: #26a1e0;
    color: white;
    align-self: end;
}


.message-date {
    color: grey;
    user-select: none;
    margin: 0 5px;
}

.message-join {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;

    color: grey;
}

