.chat-container {
    height: 100%;
    width: 100%;
    background-color: rgba(44, 187, 222, 0.13);
    //border: 5px solid red;

    display: flex;
    flex-direction: column;
}

/* Input */

.message-send-wrap {
    //border: 3px solid blue;
    height: 10%;

    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    //border: 1px solid blue;
}

.send-message-wrap {
    .send-message-btn {

    }

    .send-message-input {
        width: 70%;
        display: inline;
    }
}



.username {
    font-size: 1em;
    color: #8e44ad;
}

.btn-leave-chat {
    padding: 5px 20px;
}

.partner-left-wrapper {
    width: 100%;

    .btn-partner-left {
        width: 100%;
    }
}


/* Messages */

.messages {
    flex-grow: 2;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Lato',sans-serif;

    padding: 0 5px;
    //border: 5px solid yellow;

    .welcome-chat-text {
        width: 100%;
        color: grey;
        text-align: center;
    }
}

.messages-wrap::-webkit-scrollbar {
    display: none;
}

.chat-message-wrap {
    min-width: 48px;
    border-radius: 16px;

    box-sizing: border-box;
    padding: 6px 16px 9px;
    margin-bottom: 5px;

    max-width: 70%;
    height: auto;
    font-size: 17px;
    line-height: 1.2;
    word-break: break-word;
}

.other {
    background-color: #e5e5ea;
    color: black;
    align-self: start;
}

.owner {
    background-color: #26a1e0;
    color: white;
    align-self: end;
}

.message-username {
    font-size: 13pt;
    text-decoration: underline;
}

.message-date {
    color: grey;
    user-select: none;
    margin: 0 5px;
}

.chat-message-join {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;

    color: grey;
}

